<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Seleção de Professores</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li>
                <%= link_to "Nova Tabela", timetablings_step_one_index_path %>
            </li>
            <li class="active">
                <strong>Seleção de Professores</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nova Tabela de Horários</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        Escolha os professores que lecionarão as disciplinas.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <%= form_with(url: timetablings_create_path, local: true, class: "form-horizontal") do |f| %>
        <div class="row">
        <% time_slot_count = 1 %>
            <% aux = calc_period(@period) %>
            <% loop do %>
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <%# aux é o numero correspondente ao periodo %>
                            <h5><%= aux %>º Período</h5>
                        </div>
                        <div class="ibox-content">

                            <% disciplinas = retorna_disciplinas(aux, @curso.id) %>

                            <% disciplinas.each do |d| %>
                                <div class="form-group">

                                    <label class="col-sm-4 control-label"><%= d.name %></label>

                                    <div class="col-sm-8">
                                        <div>
                                            <% prof_array = @professores.map { |p| [ p.name, "#{[d.id, p.id]}" ] } %>

                                            <%= f.select("time_slot_#{time_slot_count}" ,options_for_select(prof_array), {:prompt => ' --- Selecione o Professor --- '}, {class: 'chosen-select', tabindex: '2'}) %>
                                            <% time_slot_count += 1 %>
                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                            <% end %>

                        </div>
                    </div>
                </div>

                <% aux = aux + 2 %>
                <% break if aux > @curso.n_periods %>
            <% end %>

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Número de Iterações:</label>
                            <div class="col-sm-3">
                                <%= f.number_field :iteracoes, in: 1..10000, required: true, class: 'form-control', style: 'margin: 5px;' %>
                            </div>
                            <div class="col-sm-2">
                                <%= f.submit("Criar Tabelas", class: 'btn btn-w-m btn-primary', style: 'margin: 5px;') %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    <% end %>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

    $(function() {

        $('.chosen-select').chosen({width: "100%"});

    });

</script>

<% end %>
