<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nova Tabela</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li class="active">
                <strong>Nova Tabela</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Nova Tabela de Horários</h5>
                </div>
                <div class="ibox-content">
                    <p>Escolha o Curso e em qual período deseja gerar tabelas.</p>
                    <%= form_with(url: timetablings_step_two_index_path, local: true, class: "form-horizontal m-t-md") do |f| %>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="col-sm-2">
                                        <label class="font-normal control-label">Cursos</label>
                                    </div>
                                    <div class="col-sm-10">
                                        <div>
                                            <% cursos_array = @cursos.map { |c| [ c.name, c.id ] } %>

                                            <%= f.select(:course_id ,options_for_select(cursos_array), {:prompt => ' --- Selecione o Curso --- '}, {class: 'chosen-select', tabindex: '2'}) %>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="padding-left: 30px;">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <%= f.radio_button(:period, "Par", required: 'required', id: 'r1') %>
                                                <%= f.label(:period, "Período Par", for: 'r1') %>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="radio">
                                                <%= f.radio_button(:period, "Ímpar", id: 'r2') %>
                                                <%= f.label(:period, "Período Ímpar", for: 'r2') %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            <%= f.submit("Continuar", class: 'btn btn-w-m btn-primary') %>
                        </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">

    $(function() {
        $('.chosen-select').chosen({width: "100%"});
    });

</script>
<% end %>
