<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Home</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Dashboards", root_path %>
            </li>
            <li class="active">
                <strong>Home</strong>
            </li>
        </ol>
    </div>
</div>
