<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Log de Tabelas</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li class="active">
                <strong>Tabelas Ativas</strong>
            </li>
        </ol>
    </div>
</div>

<% if @time_record.present? %>
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInDown">
            <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Registro de Tempo</h5>
                        </div>
                        <div class="ibox-content">
                            <p>Início: <%= @time_record.start_time %></p>
                            <p>Fim: <%= @time_record.end_time %></p>
                        </div>
                    </div>
                <% @log_timetabling.each do |l| %>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h5>
                                        Tabelas: <%= JSON[l.log_timetabling] %>, Peso: <%= l.peso %>, Iteração Nº <%= l.n_iteration %>
                                    </h5>

                                </div>
                                <div class="col-sm-2 pull-right">
                                    <%= link_to "Mostrar",
                                            timetablings_show_path(ids_timetabling: JSON[l.log_timetabling]),
                                            class: 'btn btn-primary' %>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <% (JSON[l.log_timetabling]).each do |id| %>
                                <% timetabling = Timetabling.find(id) %>
                                <p>
                                    Periodo: <%= timetabling.period %>, Peso: <%= checa_timetabling(retorna_hash_timetabling(timetabling.id), retorna_hr(timetabling.id), retorna_sr(timetabling.id)) %>
                                </p>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
