<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nova Tabela</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", root_path %>
            </li>
            <li class="active">
                <strong>Tabelas Ativas</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">

        <% @timetablings.each do |t| %>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><%= t.period %>º Período, Peso: <%= checa_timetabling(retorna_hash_timetabling(t.id), retorna_hr(t.id), retorna_sr(t.id)) %>
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div id="calendar_<%= t.id %>"></div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    /* initialize the external events
     -----------------------------------------------------------------*/


    $('#external-events div.external-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 1111999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });


    /* initialize the calendar
     -----------------------------------------------------------------*/

    <% @timetablings.each do |t| %>

        $('#calendar_<%= t.id %>').fullCalendar({
            header: {
                left: 'today',
                // left: 'prev,next today',
                // center: 'title',
                right: 'agendaWeek'
                // right: 'month,agendaWeek,agendaDay'
            },
            lang: 'pt-br',
            editable: false,
            droppable: false, // this allows things to be dropped onto the calendar
            drop: function () {
                // is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
                    // if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            defaultView: 'agendaWeek',
            events: [
                <% t.timeslots.each do |ts| %>
                    {   
                        <% day = ts.week_day.to_date %>
                        title: '<%= ts.discipline.name %>',
                        start: new Date(<%= day.strftime("%Y").to_i %>,
                                        <%= day.strftime("%m").to_i %> - 1,
                                        <%= day.strftime("%d").to_i %>,
                                        <%= ts.start_time.to_time.strftime("%H").to_i %>,
                                        <%= ts.start_time.to_time.strftime("%M").to_i %>),
                        end: new Date(<%= day.strftime("%Y").to_i %>,
                                      <%= day.strftime("%m").to_i %> - 1,
                                      <%= day.strftime("%d").to_i %>,
                                      <%= ts.end_time.to_time.strftime("%H").to_i %>,
                                      <%= ts.end_time.to_time.strftime("%M").to_i %>),
                        description: 'Prof: <%= ts.teacher.name %>'
                    },
                <% end %>
            ],
            eventColor: '#1197c1',
            eventRender: function(event, element) { 
                element.find('.fc-title').append("<br/>" + event.description); 
            },
        });
    <% end %>

    /* initialize the calendar
     -----------------------------------------------------------------*/
    // var date = new Date();
    // var d = date.getDate();
    // var m = date.getMonth();
    // var y = date.getFullYear();

    // $('#calendar').fullCalendar({
    //     header: {
    //         left: 'prev,next today',
    //         center: 'title',
    //         right: 'month,agendaWeek,agendaDay'
    //     },
    //     editable: true,
    //     droppable: true, // this allows things to be dropped onto the calendar
    //     drop: function () {
    //         // is the "remove after drop" checkbox checked?
    //         if ($('#drop-remove').is(':checked')) {
    //             // if so, remove the element from the "Draggable Events" list
    //             $(this).remove();
    //         }
    //     },
    //     events: [
    //         {
    //             title: 'All Day Event',
    //             start: new Date(y, m, 1)
    //         },
    //         {
    //             title: 'Long Event',
    //             start: new Date(y, m, d - 5),
    //             end: new Date(y, m, d - 2),
    //         },
    //         {
    //             id: 999,
    //             title: 'Repeating Event',
    //             start: new Date(y, m, d - 3, 16, 0),
    //             allDay: false,
    //         },
    //         {
    //             id: 999,
    //             title: 'Repeating Event',
    //             start: new Date(y, m, d + 4, 16, 0),
    //             allDay: false
    //         },
    //         {
    //             title: 'Meeting',
    //             start: new Date(y, m, d, 10, 30),
    //             allDay: false
    //         },
    //         {
    //             title: 'Lunch',
    //             start: new Date(y, m, d, 12, 0),
    //             end: new Date(y, m, d, 14, 0),
    //             allDay: false
    //         },
    //         {
    //             title: 'Birthday Party',
    //             start: new Date(y, m, d + 1, 19, 0),
    //             end: new Date(y, m, d + 1, 22, 30),
    //             allDay: false
    //         },
    //         {
    //             title: 'Click for Google',
    //             start: new Date(y, m, 28),
    //             end: new Date(y, m, 29),
    //             url: 'http://google.com/'
    //         }
    //     ],
    // });


});

</script>

<% end %>