<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Aluno</strong>
                            </span> <span class="text-muted text-xs block">Opções <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    GT+
                </div>
            </li>

            <li class="<%= is_active_controller('home') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse <%= is_active_controller('home', 'in') %>">
                    <li class="<%= is_active_action('index') %>">
                        <%= link_to "Home", root_path %>
                    </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('timetablings') %>">
                <a href=""><i class="fa fa-calendar"></i> <span class="nav-label" data-i18n="nav.dashboard">Tabela de Horários</span> <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse <%= is_active_controller('timetablings', 'in') %>">
                    <li class="<%= is_active_action('index') %>">
                        <%= link_to "Tabelas Ativas", timetablings_index_path %>
                    </li>
                    <li class="<%= is_active_action('new') %>">
                        <%= link_to "Nova Tabela", timetablings_step_one_index_path %>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
